<h1>Sign Up!</h1>

<%= form_for(@user, :html => {class: "form-horizontal", role: "ui form"}) do |f| %>

  <div class="field sign-up">
    <%= f.label :username, "Username" %>
    <section>
      <div class="ui left icon input">
        <%= f.text_field :username, placeholder: "Username"%>
        <i class="user icon"></i>
      </div>
    </section>
  </div>
  <div class="field sign-up">
    <%= f.label :password, "Password" %>
    <section>
      <div class="ui left icon input">
        <%= f.password_field :password, placeholder: "Password"%>
        <i class="user icon"></i>
      </div>
    </section>
  </div>
  <%= f.submit(@user.new_record? ? "Sign up" : "Update account", class: 'button teal ui submit') %>

<% end %>
